/* Custom CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

/* Navbar */
.navbar {
  font-size: 1.2em;
}

.navbar-nav li {
  padding-right: 0.5rem;
}

.navbar-brand {
  font-family: "Rochester", cursive;
  font-size: 1.8em;
  line-height: 1;
}

.navbar-nav .nav-link {
  color: white;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

.navbar-nav .nav-link:hover {
  color: green;
}


.hero-section .display-3 {
  margin-bottom: 20px;
}

.txt {
  text-align: center;
  justify-content: center;
  font-family: "Rochester", cursive;
  /* font-family: 'poppins', sans-serif; */
}

.page-button {
  font-family: "roboto", sans-serif;
}

.pic {
  padding: 4rem;
}

/* Footer */
.footer-section {
  font-family: "Rochester", cursive;
  font-size: 1.2em;
  margin-top: 2rem;
  padding-top: 1.5rem;
}

.footer-section .footer-title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: green;
}

.footer-section p {
  font-family: "roboto", sans-serif;
  font-size: 0.9rem;
  color: #fff;
}

/* Expand collapse navbar to the right */
@media (max-width: 991.98px) {
  .navbar-collapse {
    position: fixed;
    right: -100%; /* Initially hide the navbar off-screen to the right */
    top: 0;
    bottom: 0;
    width: 45%; /* Adjust the width as needed */
    background-color: #263035;
    transition: right 0.7s ease-in-out; /* Smooth transition */
    padding: 2rem;
  }

  .navbar-collapse.show {
    right: 0; /* Show the navbar by moving it to the right */
  }

  .pic {
    padding: 1.5rem;
  }

  .txt {
    padding: 0;
  }

  .page-button {
    padding-right: 1.4rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.1rem;
    padding-right: 0;
  }

  .name {
    text-align: center;
  }

  .name2 {
    text-align: center;
  }

  .name3 {
    padding-right: 2.5rem;
    margin-bottom: 1rem;
  }
}
