* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

h1 {
  font-size: 4em;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 0.18em;
  text-align: right;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 0.02em;
  text-align: center;
}
.page-button {
  margin-left: 8em;
  margin-right: 1.7rem;
}

.btn {
  padding: 0.8rem 4rem;
  margin-top: 4rem;
  margin-right: 1rem;
}

.navbar {
  font-size: 1.2em;
}

.custom-navbar {
  background-color: #2630353d;
}

.navbar-brand {
  font-family: "Rochester", cursive;
  font-size: 1.8em;
  line-height: 1;
}

/* showcase or hero section*/

/* image */
.image-container {
  position: relative;
}

.image-container img {
  position: absolute;
  transition: z-index 0.3s ease-in-out;
}

.image-container img:hover {
  z-index: 12;
}

.showcase .image-container img {
  padding: 2rem;
  padding-top: 8rem;
}

.showcase .image-container .img1 {
  top: 1.5rem;
  left: 1.5rem;
}

.showcase .image-container .img2 {
  top: 1.1rem;
  left: 1.1rem;
}

.showcase .image-container img:hover {
  z-index: 12;
}

/* text styling*/
.showcase .text-container {
  max-width: 80rem;
  padding: 2rem;
  padding-top: 10rem;
}

.showcase h1 {
  font-size: 3.8rem;
  text-align: right;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.showcase span {
  font-size: 3.3rem;
}

.showcase h4 {
  text-transform: capitalize;
  font-family: "Roboto" sans-serif;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  text-align: right;
  padding-right: 0.6em;
}

/* footer */
.line {
  position: relative;
  height: 4px;
  width: calc(78% - 10px); 
  margin: 12.5rem auto 0 auto;
}
/* test */

/* Circle styles */
.line::before,
.line::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green; 
  top: -3px; 
}

/* Circle at the start of the line */
.line::before {
  left: 0;
}

/* Circle at the end of the line */
.line::after {
  right: 0;
}
.footer-rows{
  margin-top: 2rem;
}
.footer-rows .row-cols-5 {
  flex-wrap: nowrap;
}
